// //bien toan cuc
// $whiteColor : #fff;
// $a : 20px;
// $b : $a +50px;

// .main {
//     background-color: aqua;

//     &__title {
//         //bien cuc bo
//         $fontSize: 50px;
//         font-size: $fontSize;
//         margin-top: $b;
//         color: $whiteColor;
//     }

//     &__title2 {
//         @extend .title;

//         font-weight: 800;
//     }
// }

@mixin test($a) {
    @content;
    color: white;
    padding: $a;
}

.error {
    border: 1px #f00 solid;
    background-color: #fdd;
    font-size: 20px;

    @include test(50px) {}

    &-serious {
        @extend .error;
        border-width: 3px;
        background-color: #f00;
    }
}